<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.cerekartvendorapp">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".CereKartVendorApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CereKartVendorApp">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.android.cerekartvendorapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
        <activity android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
        <activity android:name="com.tracket.views.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".views.authentication.LoginActivity"
            android:exported="false">
        </activity>
        <activity android:name=".views.authentication.ForgotPasswordActivity"
            android:exported="false">
        </activity>
        <activity android:name=".views.home.LandingMainActivity"
            android:exported="false">

        </activity>
        <activity android:name=".views.products.ProductCatalougeListingFragment"
            android:exported="false"/>
        <activity android:name=".views.products.AddSubCategoryActivity"
            android:exported="false"/>
        <activity android:name=".views.products.SubCategoryListingActivity" android:exported="false"/>
        <activity android:name=".views.products.SubCategoryProductListingActivity"
            android:exported="false"/>
        <activity android:name=".views.products.AllProductListingFragment"
            android:exported="false"/>
        <activity android:name=".views.gallery.AddGalleryImagesActivity"
            android:exported="false"/>
        <activity android:name=".views.products.AddProductActivity"
            android:exported="false"/>
        <activity android:name=".views.products.ProductDetailActivity" android:exported="false"/>
    </application>

</manifest>